@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

main {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: rgb(51, 48, 48);
} 

.fill {
    font-family: 'Redressed', cursive;
    text-transform: uppercase;
    color: #fff;
}
.navbar {
    background-color: rgb(39, 36, 36);
    padding-bottom: 20px;
}

.nav-link {
    font-family:'Redressed', cursive;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(239, 240, 239);
}

.nav-link:hover {
    color: rgb(205, 30, 221);
}

.fill:hover {
    color:rgb(109, 194, 228);
}

.fa-bars {
    color: rgb(243, 240, 216);
}


.wrapper {
    background: linear-gradient(90deg, rgba(8,11,119,1) 25%, rgba(68,25,101,1) 45%, rgba(92,5,48,1) 100%);
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.container-story {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
    left: 37%;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
    animation: move 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes move {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}

.uppercase{
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}


.firstsight-story {
    text-align: center;
    opacity: 0;
    animation: show-up 1s forwards;
    animation-delay: 1s;
    color: #fff;
}


@keyframes show-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.highlight {
    background-color: rgb(240, 226, 107);
    color: #000;
    border-radius: 5px;
}

.square {
    width: 140px;
    height: 140px;
    background: black;
    border-radius: 10px;
}

.square-1 {
    position: absolute;
    left: 55%;
    top: 22%;
    transform-origin: center;
    background: rgb(228, 111, 228);
    opacity: 0;
    animation: square1 1s forwards;
    animation-delay: 1s;
}

@keyframes square1 {
    0% {
        opacity: 0;
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
    }
}

.square-2 {
    position: absolute;
    left: 38%;
    top: 68%;
    transform-origin: center;
    background: rgb(72, 93, 218);
    opacity: 0;
    animation: square2 1s forwards;
    animation-delay: 1s;
}

@keyframes square2 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
    }
}

.history {
    text-align: center;
    background: linear-gradient(203deg, rgba(63,88,230,1) 12%, rgba(63,94,251,1) 55%, rgba(59,44,77,1) 100%);
    color: rgb(3, 3, 3);
    font-size: large;
}

.panel-pictures {
    display: flex;
}

.pics {
    background: linear-gradient(90deg, rgba(17,223,68,1) 25%, rgba(20,210,218,1) 45%, rgba(61,56,215,1) 100%);
}
.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border: 2px solid rgb(3, 3, 3);
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    flex: 0.5;                /* i set thr flex property to 0.5 since i am using flex box, so the panel active is set to 5 */
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.legend-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fff;
    border-left: 1px solid;
   }
  
   .legend-item::before {
    content: attr(title);
    position: absolute;
    left: 2em;
    top: 2.3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 800;
    font-size: 1em;
    padding: 0;
    color: #fff;
   }
  
   .legend-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fff;
   }
   
   .musical-image {
        background: url("../images/africamapss.jpg") no-repeat;
        background-size: cover;
        padding: 0;
   }

   .section-column {
       padding-left: 30px;
       background: #000;
   }

/*--------------------------------------------------------------- media quaries */

@media (max-width: 480px) {
    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }
}

@media (max-width: 480px) {
     .container-story {
         width: 300px;
         height: 300px;
        top: 40%;
        left: 10%;
     }

     .square-1 {
         width: 70px;
         height: 70px;
         top: 35%;
         left: 60%;
     }

     .square-2 {
         width: 70px;
         height: 70px;
         left: 30%;
         top: 80%;
     }
}



footer {
   padding: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6vh;
  background-color: #000;
}
.social-links {
    
    padding-right: 10px;
}
.social-links li {
    display: inline;
}

.social-links i {
    font-size: 20px;
    margin-left: 50px;
    color: #fff;
}
.social-links i:hover {
    color: #000;
}

.copyright  {
    font-size: 20px;
    color: #fff;
}

/*----- map*/

#map {
   width: 100%;
   height: 400px;
   border: 2px solid #fff;
   border-radius: 15px;
}

.locate,
.color {
    align-content: center;
        color: #fff;
        padding-bottom: 20px;
}

.enter {
    padding-bottom: 15px;
    padding-left: 50px;
}

/*--------------------------------contact*/

.contact-form {
    align-items: center;
}

#form {
  margin-top: 20px;
 }

 #form>input {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
 
 }

 #form>textarea {
  
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
 }


 