@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

section {
   justify-content: center;
    margin: 0;
    padding-top: 5rem;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background-color: rgb(243, 240, 216);
   
} 

.fill {
    font-family: 'Redressed', cursive;
    text-transform: uppercase;
    color: #fff;
}
.navbar {
    background-color: rgb(39, 36, 36);
    padding-bottom: 20px;
}

.nav-link {
    font-family:'Redressed', cursive;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(239, 240, 239);
}

.nav-link:hover {
    color: #000;
}

.panel-pictures {
    display: flex;
   
}


.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border: 2px solid rgb(3, 3, 3);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;                /* i set thr flex property to 0.5 since i am using flex box, so the panel active is set to 5 */
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(1),.panel:nth-of-type(5) {
        display: none;
    }
}


.fela {
    background-color: rgb(170, 1, 66);
}

.lucky {
    background-color: rgb(225, 113, 240);
}

.anjelik {
    background-color: rgb(82, 50, 224);
}

.container-fluid {
    padding: 20px;
}
.about-fela,
.about-lucky,
.about-anjelik {
padding-top: 10px;
}

.about-fela h2,
.about-lucky h2,
.about-anjelik h2 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bold;
}

.about-fela p,
.about-lucky p,
.about-anjelik p {
    font-family: 'Dancing Script', cursive;
}

.btn-light {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}


footer {
   padding: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6vh;
  background-color: rgb(51, 48, 48);
}

.social-links {
    
    padding-right: 10px;
}
.social-links li {
    display: inline;
}

.social-links i {
    font-size: 20px;
    margin-left: 50px;
    color: #fff;
}
.social-links i:hover {
    color: #000;
}

.copyright  {
    font-size: 20px;
    color: #fff;
}

/*----- map*/

div#map {
    min-height: 360px;
}

/*-------contact*/



