

section {
    box-sizing: border-box;
    margin: 0;
    padding-top: 30px;
    align-items: center;
    overflow: hidden;
    background-color:#fff;
    height: 100%;
    display: flex;
}

/*span {
    opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  display: inline-block;
}

span.fade {
     opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
} */
.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border: 2px solid #000;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    flex: 0.5;                /* i set thr flex property to 0.5 since i am using flex box, so the panel active is set to 5 */
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


.panel h2 {
     font-size: 35px;
     font-style: italic;
     color:#fff;
     position: absolute;
     top:20px;
     text-transform: uppercase;  
 }

 .panel p {
     font-size: 20px;
     font-style: italic;
     color:#fff;
     position: absolute;
     text-align: center;
     padding: 50px;
 }

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(1),.panel:nth-of-type(5) {
        display: none;
    }
}